.about-us {
    display: grid;
    grid-template-columns: 1fr 350px;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #a3e635;
}

.about-us div {
    align-self: center;
    margin-left: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.update {
    display: grid;
    grid-template-columns: 1fr 30px;
    height: 30px;
    background: #a3e635;
    padding-left: 10px;
    align-items: center;
    overflow: hidden;
}

.closing {
    animation: shrink 300ms cubic-bezier(.56,.01,.16,.89) forwards;
}

@keyframes shrink {
    30% {color: transparent;}
    to {height: 0; color: transparent;}
}

#close-update {
    font-size: 0;
    align-self: stretch;
    background: transparent;
    border: 0;
    margin: 4px;
    border-radius: 2px;
    padding: 3px;
}

#close-update:hover {
    background: #bef264;
}